$breadbutter-red: #ec1c24;
$breadbutter-blue: #50aff5;

$breadbutter-green: #4de515;

$breadbutter-dark-grey2: #414042;
$breadbutter-dark-grey: #919090;
$breadbutter-grey: #707070;
$breadbutter-light-grey: #e6e6e6;

$view-padding: 13px;
