@import 'theme';


:not(.breadbutter-popup-holder) > .breadbutter-ui {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.2);
}

.breadbutter-ui {
    width: 375px;
    .bb-button {
        &.form-next,
        &.form-incognito-next {
            height: 40px;
            background-color: $breadbutter-blue;
            color: #ffffff;
            font-weight: 600;
            border: 1px solid $breadbutter-blue;
            border-radius: 4px;
            margin: 26px 10px 10px;
        }

        &.form-forgot-reset {
            background-color: #50aff5;
            color: #ffffff;
            font-weight: 600;
            border: 1px solid #50aff5;
            border-radius: 4px;
            margin: 0 10px 10px;
            //width: 100%;
        }

        &.form-options {
            background-color: transparent;
            color: $breadbutter-dark-grey2;
            font-size: 13px;
            line-height: 1.455;
            border: none;
            padding: 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            svg {
                margin-right: 4px;
                fill: $breadbutter-grey;
            }
        }

        &.form-register,
        &.form-login,
        &.form-reset-password,
        &.form-confirm-email,
        &.form-alert-confirm {
            height: 40px;
            background-color: #50aff5;
            color: #ffffff;
            border: 1px solid #50aff5;
            border-radius: 5px;
            margin: 26px 0px 0px;
            //width: 100%;
            box-sizing: border-box;
        }

        &.form-alert-confirm {
            width: 100%;
            margin: 26px 0px 0px;
        }

        &.form-cancel,
        &.form-alert-confirm-2 {
            background-color: transparent;
            border: none;
            color: #c3c3c3;
            text-decoration: underline;
            margin: 10px 10px 0;
            //width: 100%;
        }
        &.form-cancel {
            margin: 10px 0px 10px;
        }
        &.disabled {
            background-color: #989898;
            border: 1px solid #989898;
        }
    }


    .form-email {
        margin-top: 34px;
        &.form-disabled-email {
            background-color: transparent !important;
            color: #414042 !important;
            font-size: 16px;
            line-height: 0.88;
            text-align: center;
            border: none;
            margin-top: -10px;
        }
    }

    .form-back,
    .form-forgot,
    .form-expire,
    .form-switch-login,
    .form-new-user {
        min-width: initial;
        background-color: transparent;
        color: #50aff5;
        font-size: 11px;
        line-height: 1.5;
        border: none;
        padding: 5px 10px;
        margin: 5px 10px;
        display: inline;
    }

    .form-more-information {
        min-width: initial;
        background-color: transparent;
        color: rgba(112, 112, 112, 0.5);
        font-size: 12px;
        line-height: 1.5;
        border: none;
        padding: 19px 10px 19px 10px;
        margin: 0px auto;
        display: inline;
        left: 50%;
        margin-left: -75px;
        width: 150px;

        &::before {
            content: 'i';
            color: white;
            background-color: rgba(112,112,112,0.5);
            border-radius: 50%;
            width: 18px;
            display: inline-block;
            height: 18px;
            vertical-align: middle;
            text-align: center;
            margin-right: 6px;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .breadbutter-module-more-information {
        display: none !important;
    }

    .form-switch-login,
    .form-new-user {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 20px;
        display: block;
    }

    .form-message,
    .form-sub-message {
        font-size: 13px;
        //font-style: italic;
        line-height: 1.38;
        text-align: center;
        color: #707070;

        &.in_provider {
            height: 18px;
            color: $breadbutter-grey;
            font-size: 12px;
            line-height: 18px;
            margin-top: 0 !important;
            margin-bottom: 15px;
        }

        .break {
            display: block;
        }

        .link {
            color: #50aff5;
            text-decoration: underline;
            cursor: pointer;
        }

        &.new_code {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .form-message {
        font-size: 13px;
        margin-top: 22px;
        margin-bottom: 10px;
        border: none;
    }

    .form-next-holder,
    .form-login-holder,
    .form-register-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 37px;
        margin: 10px 0 0;
    }
    .form-login-holder {
        .breadbutter-ui-loader-holder {
            width: auto !important;
            width: height !important;
        }
    }

    .form-subtitle,
    .form-subtitle-error {
        color: #414042;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin: auto;
    }
    .form-subtitle-error {
        display: none;
    }

    .breadbutter-confirm {
        .form-subtitle {
            padding: 9px 38px 0;
        }
    }

    .form-title,
    .form-title-error {
        color: #414042;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.44;
        text-align: center;
        margin: 0;
    }

    .form-title-error {
        display: none;
    }

    .form-hint-title {
        padding-bottom: 14px;
    }

    .form-hint {
        font-size: 11px;
        line-height: 15px;
        padding-bottom: 2px;
        color: #afafaf;

        &::before {
            content: '\2022';
            padding-right: 5px;
        }

        &.pass {
            color: $breadbutter-green !important;
            &::before {
                content: '\2713';
            }
        }
        &.fail {
            color: #ec1c24 !important;
            &::before {
                content: '\00D7';
            }
        }
    }

    .form-error-message {
        color: $breadbutter-red;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        width: 225px;
        margin: 13px auto 0;
    }

    //.breadbutter-register-holder .form-hint {
    //    color: #fff;
    //}

    .form-token-pin {
        margin-top: 8px;
        display: flex;

        .form-pin {
            height: 40px;
            width: 30px;
            font-size: 16px !important;
            text-align: center;
            border-radius: 2px;
            padding: 5px;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }
        &.error {
            .form-pin {
                border: 1px solid #ec1c24 !important;
                color: #ec1c24 !important;
            }
        }
    }

    .breadbutter-forms {
        .breadbutter-module-password {
            .form-password-toggle {
                //margin-left: -30px;
                cursor: pointer;
                position: absolute;
                top: 18px;
                right: 2px;

                svg {
                    width: 25px;
                    fill: #989898;

                    &.sight {
                        display: none;
                    }
                }

                &.sight {
                    svg {
                        &.visible {
                            display: none;
                        }

                        &.sight {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .breadbutter {
        &-reset-form {
            background-color: #fff;
            padding-top: 10px;

            .form-email {
                margin-top: 0;
            }
        }

        &-reset {
            padding: 0 13px 0 14px;
            .breadbutter-module-password {
                margin: 0 20px;
            }
        }

        &-register {
            padding-bottom: 0px;
            .bb-button {
                &.form-options {
                    background-color: transparent;
                    text-decoration: underline;
                    color: #707070 !important;
                    padding: 10px 0px 20px 0px;
                }
            }

            .breadbutter-buttons-holder {
                background-color: #eeeeee;
                padding: 10px 10px 0px 11px;
                .form-message {
                    margin-bottom: 3px;
                }
                .breadbutter-buttons {
                    padding: 0px;
                    margin: 0px;
                    &.bb-icon {
                        margin-top: 11px;
                    }
                }
            }
        }
    }

    .breadbutter-buttons-holder.bb-tile {
        > .bb-icon {
            display: none;
        }
    }

    .breadbutter-buttons-holder.bb-limit-providers {
        .breadbutter-buttons {
            & > div {
                display: none;
            }
            & > div:nth-child(-n+5) {
                display: block;
            }
        }
        .breadbutter-provider-limit {
            width: 100%;
            text-align: center;
            cursor: pointer;
            .drop-down-icon {
                //width: 30px;
                margin: auto;
                //border-right: solid 3px #878787;
                //border-bottom: solid 3px #878787;
                //width: 15px;
                //height: 15px;
                //transform: rotate(45deg) skew(-30deg, -30deg);
                margin-top: 7px;
                margin-bottom: 9px;
                svg {
                    display: inline;
                }
            }
        }
    }

    input {
        &.error {
            border-color: #ec1c24;
        }
    }

    .form-message.hide {
        display: none;
    }

    .breadbutter-register-holder {
        //display: none;
    }

    .breadbutter-forgot {
        display: none;
    }

    .breadbutter-expire {
        display: none;
    }

    .forgot > div {
        display: none;
    }

    .forgot:not(.alert) > div.breadbutter-forgot {
        display: block;
    }

    .expire > div {
        display: none;
    }

    .expire:not(.alert) > div.breadbutter-expire {
        display: block;
    }

    .alert > div,
    .alert > input {
        display: none;
    }

    .alert > div.breadbutter-alert {
        display: flex;
    }

    .breadbutter-forms .more-options {
        display: none !important;
    }

    .breadbutter-forms.more .less-options {
        display: none !important;
    }
    .breadbutter-forms.more .more-options {
        display: flex !important;
    }

    .breadbutter-forms {
        background: #fff;
        position: relative;
        .breadbutter-module-poweredby {
            overflow: hidden;
            height: 49px;
            a {
                position: relative;
                margin-left: -14px;
                display: block;
                svg {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    //.more .form-options::before {
    //    content: '－';
    //}
    //.more-content .form-options::before {
    //    content: '－';
    //}
    //.more-content.less-content .form-options::before {
    //    content: '＋';
    //}

    .breadbutter {
        &-forms > div {
            position: relative;
            width: 375px;
            box-sizing: border-box;
            &.local-login {
                //width: 348px;
            }
        }
        &-forms * {
            position: relative;
        }

        &-email,
        &-incognito {
            background-color: #ffffff;
            padding: 0;
            position: relative;
        }

        &-forgot-form,
        &-expire-form,
        &-register,
        &-reset-title,
        &-confirm-title,
        &-alert {
            background-color: #ffffff;
            padding: 12px 13px 0 14px;
            position: relative;
        }

        &-forgot-form,
        &-expire-form,
        &-register,
        &-alert,
        &-reset
        {
            .breadbutter-module-poweredby {
                margin-left: -14px;
                margin-right: -13px;
            }
        }
        &-forgot
        {
            .breadbutter-module-poweredby {
                margin-left: 14px;
            }
            .confirmation-form{
                display: none;
            }
            &.confirmation {
                .confirmation-form {
                    display: block;
                    &.breadbutter-forgot-buttons {
                        display: flex;
                    }
                }
                .filling-form {
                    display: none;
                }
            }
        }
        &-expire
        {
            .breadbutter-module-poweredby {
                margin-left: 14px;
            }
            .confirmation-form{
                display: none;
            }
            &.confirmation {
                .confirmation-form {
                    display: block;
                    &.breadbutter-forgot-buttons {
                        display: flex;
                    }
                }
                .filling-form {
                    display: none;
                }
            }
        }

        &-forgot-form, &-expire-form {
            padding-bottom: 10px;
            flex-direction: column;
            display: flex;
            align-content: stretch;
            input.form-email {
                width: auto;
                margin: 10px 25px 0;
            }
            .form-title {
                padding: 42px 0 42px;
            }
        }

        &-password-validation {
            background-color: transparent;
            color: #414042;
            padding: 20px 0 0 40px;
            text-align: left;
            position: relative;
            width: 260px;

            .form-message {
                font-style: normal !important;
                text-align: left !important;
                margin-top: 0 !important;
                font-size: 11px !important;
            }
        }

        &-reset-title,
        &-confirm-title {
            padding-bottom: 5px !important;
        }

        &-confirm-title {
            .form-subtitle {
                font-size: 12px !important;
                line-height: 17px !important;
                margin-top: 22px !important;
            }
        }

        &-register + .breadbutter-register-holder {
            margin-top: 1rem;
        }

        &-switch-login {
            position: relative;
            background-color: #ffffff;
            padding: 15px $view-padding 14px;
        }

        &-reset-title,
        &-confirm-title,
        &-alert {
            padding-top: 41px;
            padding-bottom: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-alert {
            .form-message {
                padding: 0px 25px;
            }
            &.breadbutter-error {
                padding-bottom: 48px;
                .form-title {
                    padding: 42px 0 42px;
                }
                .form-message {
                    padding: 0;
                    margin: 0;
                }
                .bb-button.form-alert-confirm {
                    width: auto;
                    height: 20px;
                    min-width: 180px;
                    font-size: 12px;
                    line-height: 1.7;
                    text-align: center;
                    padding: 8px 20px;
                    cursor: pointer;
                    outline: none;
                    margin-top: 29px;
                    box-sizing: content-box;
                }
                &+.breadbutter-module-poweredby {
                    display: block;
                }
            }
        }

        &-buttons-holder,
        &-forgot-buttons,
        &-expire-buttons,
        &-reset-form,
        &-confirm-form {
            background-color: #eeeeee;
            padding: 20px $view-padding;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-forgot-buttons,
        &-expire-buttons {
            background-color: transparent;
            padding: 15px $view-padding 17px;
        }

        &-incognito-holder {
            background-color: #fff;
            padding: 0 0 0px;
            display: flex;
            flex-direction: column;
            //align-items: center;
            .breadbutter-module-email-discovery {
                margin: 0 25px 25px;
                input {
                    box-sizing: border-box;
                }
            }
            &.bb-magic-link {
                .breadbutter-module-email-discovery {
                    margin: 0 25px;
                }
            }
        }
        &-email {
            //padding-bottom: 36px;
        }

        &-confirm-form {
            background-color: #fff;
            padding-top: 0px;
        }

        &-buttons-holder {
            background-color: #fff;
            padding: 10px 0;
            &.login-provider {
                margin: 0 -3px;
                background-color: #fff;
                * {
                    box-sizing: content-box;
                }
            }

            &.register-suggested {
                background-color: #fff !important;
                padding: 0px;
                margin-bottom: 7px !important;
                .breadbutter-buttons {
                    margin: 0px;
                }
            }

            .form-message {
                margin-top: 10px !important;
            }

            .suggested-list {
                .after-suggested {
                    width: 20px;
                    height: 20px;
                    top: 19px;
                    right: -7px;
                    position: absolute;
                    display: none !important;

                    svg {
                        fill: #c3c3c3;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .suggested-list:not(.bb-local-only) {
                width: 100%;
                padding: 0;
                margin-bottom: 0;
                align-items: flex-start;
                justify-content: flex-start;
                z-index: 1;
                background-color: #e6e6e6;

                border-top-left-radius: 4px;
                border-top-right-radius: 4px;

                &.bb-collapsed {
                    background-color: initial;
                }
                .more {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    //top: -2px;
                    //right: -36px;
                    //bottom: 0;
                    //bottom: 0;
                }

                //> div:not(.more-block) {
                //margin: 6px 5px;

                .after-suggested {
                    top: 10px;
                    right: -25px;
                }
            }

            .collapsible {
                width: 100%;
                padding: 0px;
                background-color: $breadbutter-light-grey;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding-bottom: 3px;
                margin-top: -4px;
                align-items: center;

                > div {
                    width: 100%;
                    > div {
                        margin: 3px;
                    }
                }
            }
        }

        &-login {
            padding: 0 13px 0px 14px;
            box-sizing: border-box;
            .breadbutter-module {
                &-password {
                    margin-bottom: 20px;
                }
            }
        }

        &-register,
        &-register-holder {
            .form-email {
                &.form-disabled-email {
                    background: none;
                    border: none;
                }
            }
        }

        &-register-holder {
            background-color: #fff;
            padding: 0 13px 0 14px;
            flex-direction: column;
            align-items: center;

            .form-email {
                &.form-disabled-email {
                    margin-top: 10px !important;
                }
            }

            & > .form-message {
                font-size: 14px;
                padding: 0 30px;
                margin-top: 0 !important;
            }
            .breadbutter-forms.more & {
                display: flex;
            }
        }


        &-login,
        &-register-holder,
        &-register {
            .breadbutter-module {
                &-form-input,
                &-password {
                    margin-left: 27.5px;
                    margin-right: 20.5px;
                }
            }
        }

        &-module-dropdown {
            display: none;
            background-color: #eeeef0;
            height: 21px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .form-expand-icon {
                //border-right: solid 3px #878787;
                //border-bottom: solid 3px #878787;
                //width: 15px;
                //height: 15px;
                //transform: rotate(45deg) skew(-30deg, -30deg);
                margin-top: 7px;
                margin-bottom: 9px;
            }
        }
        &-incognito, &-email {
            &.confirm > *:not(.breadbutter-confirm) {
                display: none;
            }
            .breadbutter-buttons-holder {
                background-color: #eee;
                align-items: flex-start;
                padding: 6px 10px 6px 10px;
                .breadbutter-buttons {
                    padding: 0;
                }
                .form-message {
                    margin-left: 20px;
                    margin-bottom: 8px;
                    text-align: left;
                }
                .form-options {
                    color: #707070;
                    text-decoration: underline;
                    background-color: transparent;
                    margin: 8px auto;
                    &.continue-email-address {
                        cursor: default;
                        text-decoration: none;
                        margin: 8px auto 14px auto;
                    }
                }
            }

            .breadbutter-incognito-holder {
                .breadbutter-incognito-login,
                .breadbutter-incognito-register {
                    display: none;
                }

                .breadbutter-incognito-login,
                breadbutter-incognito-register {
                    display: none;
                }

                .form-switch-login,
                .form-options {
                    display: none;
                }

                &.more-content {
                    &.less-content {
                        padding: 0;
                    }
                    &.less-content > *:not(.form-options) {
                        display: none;
                    }
                    .form-options {
                        display: block;
                    }
                }
                &.login,
                &.register {
                    .form-incognito-next {
                        display: none;
                    }
                    .form-switch-login {
                        display: block;
                    }
                }
                &.login {
                    .breadbutter-incognito-login {
                        display: block;
                    }
                }
                &.register {
                    .breadbutter-incognito-register {
                        display: block;
                    }
                }
            }

            .form-register {
                margin: 26px 40px !important;
            }
        }
        &-email {
            position: relative;
            .breadbutter-buttons-holder {
                position: relative;
                &.bb-blur {
                    .continue-email-address {
                        color: white;
                        z-index: 10003;
                    }
                    .breadbutter-module-dropdown {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        margin: 0 auto;
                        left: 50%;
                        margin-left: -10px;
                        z-index: 10003;
                        background: none;
                        .form-expand-icon {
                            border-color: white;
                        }
                    }
                }
            }

            .breadbutter-buttons-blur-holder {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10002;
                background-color: rgba(73, 83, 100, 0.86);
                @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                    backdrop-filter: blur(7.8px);
                    -webkit-backdrop-filter: blur(7.8px);
                    background-color: rgba(80, 92, 109, .5);
                }

            }

        }
    }

    .bb-magic-link {
        overflow: hidden;
        .breadbutter-switch-login {
            padding-top: 6px;
        }
    }

    .breadbutter-deidentify, .breadbutter-custom-data {
        .breadbutter-module-header-discovery {
            padding: 52px 37px 20px;
        }
        .form-title {
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: #2c2c2c;
        }
        .form-subtitle {
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #4e5051;
            margin-left: 10px;
        }
        .breadbutter-deidentify-form, .breadbutter-custom-data-form {
            .form-password, .form-email {
                margin: 0 10%;
                width: 80%;
            }
            .bb-icon-wrapper {
                border: 1px solid #414042 !important;
            }
            .breadbutter-buttons {
                padding: 5px 15px;
            }
            .form-token-pin {
                margin-left: 105px;
                margin-top: 0;
            }
            .breadbutter-module-magic-link {
                padding: 5px 15px;
            }
        }
        .form-message {
            margin: 15px 60px;
            span {
                margin-bottom: 20px;
            }
        }
        .bb-button {
            &.form-deidentify-me, &.form-confirm-pin, &.form-submit {
                box-sizing: border-box;
                width: 160px;
                height: 40px;
                padding: 0;
                line-height: 40px;
                border-radius: 4px;
                text-align: center;
                background-color: #50aff5;

                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                color: #fff;
                text-transform: uppercase;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            &.form-switch-login {
                margin: auto;
                margin: 0 0 15px;
                text-align: center;
            }
        }
        .breadbutter-module-password {
            .form-password-toggle {
                margin-right: 10%;
                top: 10px;
            }
        }

        .breadbutter-custom-data-form {
            .breadbutter-module-form-input {
                margin: 0 10%;
                width: 80%;
                &.bb-checkbox {
                    margin-top: 20px;

                    label {
                        padding: 0px 0px 0px 33px;
                        font-size: 13px !important;
                        line-height: 20px;
                        vertical-align: top;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .breadbutter-custom-data {
        .breadbutter-module-header-discovery {
            padding-bottom: 10px;
            .form-subtitle {
                margin-top: 12px;
            }
        }
    }

    .error {
        //.form-title {
        //  display: none;
        //}
        //
        //.form-title-error {
        //  display: block;
        //}
        //
        //.form-subtitle {
        //  display: none;
        //}
        //
        //.form-subtitle-error {
        //  display: block;
        //}
        //
        //.form-sub-message {
        //  display: none;
        //}
    }
    .breadbutter-module-email-discovery {
        position: relative;
        padding: 15px;
        margin: 0 25px;

        .form-email {
            margin-top: 0;
            padding: 8px 28px 8px 14px;
            border-radius: 0;
            border: 1px solid #eeeef0;
            border-right: none;
            border-top: none;
            border-left: none;
            background: none;
            background-color: rgba(0, 0, 0, 0) !important;

            &.focus {
                border-color: #50aff5;

                & + .form-next-icon {
                    background: #50aff5;

                    svg {
                        fill: #fff;
                    }
                }
            }
        }

        .form-next-icon {
            position: absolute;
            right: 18px;
            top: 21px;
            height: 24px;
            cursor: pointer;
            svg {
                width: 12px;
                height: 12px;
                margin: 6px;
                fill: #878787;
            }
            background: #eeeef0;
            &:hover {
                background: #50aff5;
                svg {
                    fill: #fff;
                }
            }
        }

        &.error {
            .form-email {
                border-color: #ec1c24;
            }
        }
        &.form-disabled-email {
            .form-email {
                background-color: transparent !important;
                color: #414042 !important;
                font-size: 16px;
                line-height: 0.88;
                text-align: center;
                border: none;
                margin-top: 0;
            }
            .form-next-icon {
                display: none;
            }
        }
    }
    .breadbutter-module-header-discovery {
        padding: 36px 0 36px;
        .form-title {
            //margin-bottom: 16px;
        }
    }

    .breadbutter-module-half-spacer {
        padding: 10px 0;
    }

    .breadbutter-module-spacer {
        padding: 21px 0;
    }

    .breadbutter-module-password {
        position: relative;
    }

    .breadbutter-login {
        position: relative;
        .breadbutter-module-password {
            display: none;
        }
        &.local-login {
            .no-local {
                display: none;
            }
            .breadbutter-module-password {
                display: block;
                .form-password-toggle {
                    //top: 18px;
                }
            }
        }
    }



    .breadbutter-buttons-holder {
        &.register-suggested {
            .breadbutter-buttons {
                .bb-google, .bb-microsoft, .bb-slack, .bb-salesforce, .bb-linkedin {
                    .bb-icon-wrapper {
                        border: solid 1px #414042 !important;
                    }
                }
                & > div:not(.more-block):hover {
                    .bb-google {
                        .bb-icon-wrapper {
                            border: solid 1px #3e82f1 !important;
                        }
                    }
                    .bb-linkedin {
                        .bb-icon-wrapper {
                            border: solid 1px #2f7ab1 !important;
                        }
                    }
                }
            }
        }

        .suggested-list{
            &.bb-collapsed {
                .bb-google, .bb-microsoft, .bb-slack, .bb-salesforce, .bb-linkedin {
                    .bb-icon-wrapper {
                        border: solid 1px #414042 !important;
                    }
                }
                & > div:not(.more-block):hover {
                    .bb-google {
                        .bb-icon-wrapper {
                            border: solid 1px #3e82f1 !important;
                        }
                    }
                    .bb-linkedin {
                        .bb-icon-wrapper {
                            border: solid 1px #2f7ab1 !important;
                        }
                    }
                }
            }
        }
    }

    .breadbutter-term-policy {
        font-size: 12px;
        color: rgba(112, 112, 112, 0.5);
        a {
            color: rgba(112, 112, 112, 0.5);
            text-decoration: underline;
        }
    }
    .breadbutter-email {
        .breadbutter-module-magic-link {
            padding: 0 13px;
            margin: 0 0 25px;
        }
        .breadbutter-term-policy-holder {
            //display: none;
            margin: 0 25px 10px;
            padding: 0px 13px 14px;
        }
        .breadbutter-module-email-discovery {
            input {
                box-sizing: border-box;
            }
        }
    }
    .breadbutter-incognito {
        .breadbutter-term-policy-holder {
            //display: none;
            margin: 0 25px 10px;
            padding: 0px 13px 14px;
        }
        .breadbutter-module-magic-link {
            padding: 0 13px;
            margin: 0 0 25px;
            .breadbutter-magic-link-mask {
                //bottom: -64px;
            }
        }
    }
    .breadbutter-login, .breadbutter-register, .breadbutter-register-holder {
        .breadbutter-term-policy-holder {
            margin: 0 19px;
            padding: 15px 13px 14px;
        }
        .breadbutter-module-magic-link {
            padding: 0;
        }
    }
}

.breadbutter-ui {
    .breadbutter-incognito {
        .breadbutter-incognito-holder{
            transition-property: height;
            transition-duration: 0.25s;
            transition-timing-function: ease-out;
            &.more-content {
                //height: 105px;
                &.bb-magic-link {
                    //height: 175px;
                }
                //&.bb-toc-term {
                //    height: 163px;
                //}
            }
            &.less-content {
                height: 0 !important;
            }
        }
        &.bb-mobile-collapse {
            .breadbutter-incognito-holder {
                display: none;
            }
        }
    }
}

.breadbutter-ui {
    .breadbutter-contact-popup {
        transition-property: height;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;

        .breadbutter-optin-message {
            display: none;
        }


        .breadbutter-contactus {
            //overflow: hidden;
            background-color: #ffffff;
            padding: 0px 18px 18px;
            display: flex;
            flex-direction: column;

            .bb-button {
                &.form-submit {
                    min-height: 40px;
                    background-color: #1cb93f;
                    color: #ffffff;
                    border: 1px solid #1cb93f;
                    border-radius: 5px;
                    //margin: 12px 0px 0px;
                    //width: 100%;
                    box-sizing: border-box;
                    margin: 0px auto;
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .breadbutter-module-header-discovery {
                padding: 12px 0;
            }

            .breadbutter-contactus-form {
                padding: 5px 0;


                textarea {
                    width: 100%;
                    height: 100px;
                    padding: 14px 12px 14px 21px;
                    box-sizing: border-box;
                    text-align: left;
                    border: solid 1px #f0f0f0;
                    resize: none;
                    font-size: 13px;
                    &::placeholder {
                        color: #d3d3d3;
                    }
                }
                .breadbutter-name-holder {
                    display: flex;
                    justify-content: center;
                }
                .breadbutter-detail-holder {
                    display: flex;
                    justify-content: center;
                }
                .breadbutter-module-form-input {
                    &.form-phone-number {
                        flex: 1
                    }
                    &.form-company-name {
                        flex: 1
                    }
                }
                .breadbutter-spacer {
                    width: 10px;
                    height: 18px;
                }
            }
        }
        .breadbutter-contactus-complete {
            padding: 10px 20px 10px 35px;
            flex: 1;
            box-sizing: content-box;
            width: auto;
            letter-spacing: normal;
            text-align: left;
            color: #414042;
        }

        .breadbutter-incognito,.breadbutter-email {
            > .breadbutter-module-header-discovery {
                //display: block !important;
                //padding: 31px 0 25px;
                display: none;
            }
        }
        &.breadbutter-contact-form {

            display: flex;
            flex-direction: column;
            max-height: none !important;

            > :not(.breadbutter-contactus) {
                //display: none;
            }

            .breadbutter-contactus:not(.bb-not-verified) {
                .breadbutter-module-header-discovery {
                    padding: 31px 0 12px;
                    text-align: left;
                }

                .breadbutter-contactus-form {
                    textarea {
                        height: 175px !important;
                        margin: 0px;
                    }

                }
                .form-submit {
                    width: 100%;
                }
            }
        }

        &.breadbutter-contact-login {
            .breadbutter-contactus {
                //height: 50px;
                .breadbutter-contact-blur {
                    transition-property: margin;
                    transition-duration: 0.25s;
                    transition-timing-function: ease-in-out;
                    position: absolute;
                    margin-top: 260px;
                    top: 0px;
                    left: 0;
                    right: 0;
                    bottom: 0px;
                    background-color: rgba(73, 83, 100, 0.86);
                    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                        backdrop-filter: blur(7.8px);
                        -webkit-backdrop-filter: blur(7.8px);
                        background-color: rgba(80, 92, 109, .5);
                    }
                    display: flex;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: stretch;
                    flex-direction: column;
                    color: white;
                    .breadbutter-contact-arrow {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid rgba(73, 83, 100, 0.86);
                        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                            border-bottom: 10px solid rgba(80, 92, 109, .5);
                            backdrop-filter: blur(7.8px);
                            -webkit-backdrop-filter: blur(7.8px);
                        }
                        left: 10px;
                        top: -10px;
                    }
                    .breadbutter-contact-hint {
                        color: white;
                        font-weight: 600;
                    }

                    .form-expand-icon {
                        text-align: center;
                        margin-top: 6px;
                        transform: rotate(180deg);
                    }
                    .breadbutter-floating-message-holder {
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #f5f5f5;
                        margin: 0px 31px 12px 41px;
                    }
                    .breadbutter-floating-text {
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #f5f5f5;
                        margin: 0px 31px 12px 41px;
                        text-align: left;
                    }
                    .breadbutter-floating-text-title {
                        font-size: 20px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: #fff;
                        margin-top: 0px;
                        margin-bottom: 12px;
                    }
                    .breadbutter-floating-more {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

.breadbutter-ui {
    &.contactus {
        > .breadbutter-module-header-discovery {
            display: block !important;
            padding: 31px 13px 25px 14px;
            background: white;
            //display: none;
        }
        .sign-out-link {
            min-width: initial;
            background-color: transparent;
            color: #50aff5;
            font-size: 11px;
            line-height: 1.5;
            border: none;
            padding: 5px 10px;
        }
        .form-expand-icon {
            svg {
                display: inline-block;
            }
        }
    }
}

.breadbutter-module-magic-link {
    margin: 0;
    cursor: pointer;
    position: relative;
    .breadbutter-magic-link-button {
        font-size: 13px;
        color: #797a79;
        line-height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        position: relative;
        height: 40px;
        text-align: center;
        background-color: white;
        .breadbutter-magic-link-wand {
            position: absolute;
            margin: 8px;
            top: 0;
        }
    }
    .breadbutter-magic-link-mask {
        display: none;
        position: absolute;
        top: 0;
        //bottom: -36px;
        bottom: -360px;
        left: -10px;
        right: -10px;
        background-color: rgba(73, 83, 100, 0.86);
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            -webkit-backdrop-filter: blur(7.8px);
            backdrop-filter: blur(7.8px);
            background-color: rgba(80, 92, 109, .5);
        }
        .breadbutter-magic-link-mask-text {
            font-size: 13px;
            line-height: 1.455;
            border: none;
            padding: 0;
            margin: 0 auto;
            color: white;
            text-align: center;
            margin-top: 20px;
        }
        .breadbutter-magic-link-mask-arrow {
            border-right: solid 3px white;
            border-bottom: solid 3px white;
            width: 15px;
            height: 15px;
            transform: rotate(-135deg) skew(-30deg, -30deg);
            position: absolute;
            top: 5px;
            left: 50%;
            margin-left: -8px;
        }
    }
    &.bb-blur {
        .breadbutter-magic-link-mask {
            display: block;
        }
    }
    &.error {
        +.form-error-message {
            margin: 0px auto 15px;
            width: 250px;
        }
    }
}

.breadbutter-ui {
    .breadbutter-magic-link {
        .breadbutter-magic-link-view {
            .breadbutter-magic-link-plane {
                text-align: center;
                box-sizing: content-box;
                padding-top: 20px;
                height: 116.358px;
            }
        }
        .form-title {
            margin-bottom: 10px;
        }
        .breadbutter-magic-link-title-confirming {
            display: none;
        }
        .breadbutter-magic-link-title-logging {
            display: none;
        }
        &.bb-confirming {
            .breadbutter-magic-link-title {
                display: none;
            }
            .breadbutter-magic-link-title-confirming {
                display: block;
            }
        }
        &.bb-logging {
            .breadbutter-magic-link-title {
                display: none;
            }
            .breadbutter-magic-link-title-logging {
                display: block;
            }
        }

        .breadbutter-magic-link-message {
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000;
            padding: 25px 60px;
        }
        .form-switch-magic-link {
            color: #50aff5;
            padding-bottom: 20px;
        }
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.breadbutter-popup.bb-mobile-device {
    .bb-button-mask {
        display: none;
    }
    .bb-mobile-collapse {
        .breadbutter-buttons-holder.bb-tile {
            .breadbutter-buttons.bb-tile {
                > div:not(.first) {
                    display: none;
                }
            }
            .bb-button-mask {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1000;
            }
        }
    }
}