.breadbutter {
    &-ui {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        font-weight: 400;
        div {
            font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
            font-weight: 400;
        }

        .bb-button {
            min-width: 180px;
            font-size: 12px;
            line-height: 1.7;
            text-align: center;
            padding: 8px 20px;
            cursor: pointer;
            outline: none;
        }

        input:not([type=checkbox]) {
            width: 100%;
            max-width: 100%;
            background-color: rgba(0,0,0,0) !important;
            color: #1c1958 !important;
            font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
            font-size: 13px !important;
            line-height: 1.7 !important;
            border-bottom: 1px solid #c7ccd6;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            padding: 8px 13.5px;
            margin: 10px 0 0 0 ;
            outline: none !important;
            display: inline-block;
            border-radius: 0 !important;
            box-shadow: none !important;
            box-sizing: border-box;
            &.focus, &:focus {
              border-color: #50aff5;
              & + .form-next-icon{
                background: #50aff5;
                svg {
                  fill: #fff;
                }
              }
            }
            &::placeholder {
                color: #989898;
            }
        }
        input[type=checkbox] {
            -webkit-appearance: none !important;
            border: 1px solid #c7ccd6;
            padding: 9px !important;
            display: inline-block !important;
            position: absolute !important;
            width: 0;
            margin: 0;
            &:active, &:checked:active {
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1) !important;
                border-color: #50aff5;
            }

            &:checked {
                //background-color: #e9ecee !important;
                border: 1px solid #adb8c0 !important;
                //box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1) !important;
                color: #989898 !important;
            }
            &:checked:after {
                content: ' ' !important;
                font-size: 14px !important;
                position: absolute !important;
                top: 3px !important;
                left: 2px !important;
                /* color: #989898 !important; */
                border-left: 3px solid #1c1958;
                border-bottom: 3px solid #1c1958;
                height: 5px;
                width: 11px;
                transform: rotate(-45deg);
            }
            & +label {
                padding: 0px 0px 0px 33px;
                font-size: 13px !important;
                line-height: 20px;
                vertical-align: top;
                display: inline-block;
            }
            &.error {
                border-color: #ec1c24;
            }
        }

        .font11 {
            font-size: 11px !important;
        }

        .font12 {
            font-size: 12px !important;
        }

        .font13 {
            font-size: 13px !important;
        }

        .font14 {
            font-size: 14px !important;
        }

        .font15 {
            font-size: 15px !important;
        }

        .font16 {
            font-size: 16px !important;
        }
        .breadbutter-optin-message {
            font-size: 13px;
            margin: 8px 0;
            border: none;
            width: 100%;
            display: flex;
            color: #a0a0a0;
            span {
                flex: 1;
                border-bottom: 1px solid #a3a0a0;
                margin: 8px;
            }
            text-transform: uppercase;
        }

    }

    &-optin {
        box-shadow: none !important;
        border-radius: 0 !important;

        .breadbutter-ui-loader-holder {
            background: none;
        }
        .bb-loading-parent {
            > :not(.breadbutter-ui-loader-holder) {
                opacity: 0;
            }
        }
        .breadbutter-forms  {
            background: none !important;
            .breadbutter-email {
                background-color: transparent;
                background: none !important;
                .breadbutter-module-header-discovery {
                    display: none;
                }
                .breadbutter-module-email-discovery {
                    margin: 0 25px;
                    background-color: transparent !important;
                    //.form-email {
                    //    border-color: #d9d9dc;
                    //    &:focus {
                    //        border-color: #50aff5;
                    //    }
                    //}
                    //.form-next-icon {
                    //    background: #d9d9dc;
                    //}
                }
                .breadbutter-module-magic-link {
                    margin-bottom: 15px;
                    display: none;
                }
                .breadbutter-email-holder {
                    background-color: transparent;
                }
            }
            .breadbutter-incognito {
                background-color: transparent;
                .breadbutter-module-header-discovery {
                    display: none;
                }
                .form-options.continue-email-address {
                    display: none;
                }
                .breadbutter-module-magic-link {
                    margin-bottom: 15px;
                    display: none;
                }
                .breadbutter-incognito-holder {
                    background-color: transparent;
                }
                .breadbutter-module-email-discovery {
                    margin: 0 25px;
                    background-color: transparent !important;
                    //.form-email {
                    //    border-color: #d9d9dc;
                    //    &:focus {
                    //        border-color: #50aff5;
                    //    }
                    //}
                    //.form-next-icon {
                    //    background: #d9d9dc;
                    //}
                }
            }
            .breadbutter-alert {
                background-color: transparent;
            }
            .breadbutter-login {
                .breadbutter-module-header-discovery {
                    display: none;
                }
                .form-options.continue-email-address {
                    display: none;
                }
            }
            .breadbutter-register {
                background-color: transparent;
                .breadbutter-module-header-discovery {
                    display: none;
                }
                .breadbutter-register-holder {
                    background-color: transparent;
                }
                .breadbutter-module-email-discovery {
                    margin: 0 25px;
                    .form-email {
                        border-color: #d9d9dc;
                        &:focus {
                            border-color: #50aff5;
                        }
                    }
                    .form-next-icon {
                        background: #d9d9dc;
                    }
                }
            }
            .breadbutter-switch-login {
                background-color: transparent!important;
            }
            .breadbutter-buttons-holder {
                background-color: transparent!important;
                .form-message {
                    display: none;
                }
                .breadbutter-ui-loader-holder {
                    background: none;
                }
                &.bb-loading-parent {
                    .breadbutter-buttons {
                        opacity: 0;
                    }
                }
            }

            div:not(.breadbutter-login) > {
                .breadbutter-buttons-holder,
                .breadbutter-module-email-discovery,
                .breadbutter-incognito-holder,
                .breadbutter-email-holder {
                    .breadbutter-buttons:not(.bb-icon) > div:not(.enterprise):not(:hover) {
                        .bb-icon-wrapper {
                            border-color: #000;
                        }
                    }
                    .breadbutter-module-email-discovery {
                        border-color: #000 !important;
                    }
                }
            }

            .breadbutter-register {
                background-color: transparent;
                .breadbutter-buttons-holder {
                    background-color: transparent !important;
                }
                .form-message {
                    margin-top: 12px;
                }
                .breadbutter-switch-login {
                    background-color: transparent;
                }

                .form-register-button-holder {
                    &.bb-loading-parent {
                        .bb-button {
                            opacity: 0;
                        }
                    }
                }
            }
            .breadbutter-confirm {
                .breadbutter-module-header-discovery {
                    padding: 12px 0;
                }
                .breadbutter-confirm-form {
                    background-color: transparent;
                    &.bb-loading-parent {
                        > :not(.breadbutter-ui-loader-holder) {
                            opacity: 0;
                        }
                    }
                }
                .new_code {
                    margin0bottom: 12px;
                }
            }
            .breadbutter-magic-link {
                .breadbutter-magic-link-message {
                    padding: 10px 60px;
                }
                .breadbutter-module-poweredby {
                    display: none;
                }
                .breadbutter-ui-loader-holder {
                    background: none;
                }
                .breadbutter-magic-link-view {
                    &.bb-loading-parent {
                        .breadbutter-magic-link-plane {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .breadbutter-ui-loader-holder {
            background: none;
        }
    }
}

.breadbutter-ui-hover-holder {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    position: fixed;
    background: #fff;
    color: #707070;
    padding: 19px 20px;
    border-radius: 12px;
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.26);
    max-width: 275px;
    opacity: 1;
    z-index: 20001;

    &.hide {
        display: none;
    }

    .breadbutter-ui-hover-text {
        font-size: 13px;
        line-height: 1.38;
    }
    .breadbutter-ui-hover-arrow {
        position: absolute;
        width: 0px;
        height: 0px;
        left: 45%;
        &.bottom {
            bottom: -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid #fff;
        }
        &.top {
            top: -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid #fff;
        }
        &.left {
            left: 15px;
        }
        &.right {
            left: auto;
            right: 15px;
        }
    }
}

.breadbutter-locked-limit-content {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    touch-action: none !important;
    overscroll-behavior: contain !important;
}

.breadbutter-ui {
    .continue-or {
        font-size: 13px;
        margin: 8px 0;
        border: none;
        width: 100%;
        display: flex;
        color: #a0a0a0;
        text-transform: uppercase !important;
        text-decoration: none !important;
        cursor: default;
        span {
            flex: 1;
            border-bottom: 1px solid #a3a0a0;
            margin: 8px 3px;
        }
    }
}