.breadbutter-ui {
    .breadbutter-buttons .bb-button {
        background: #fefefe;
        border-radius: 2px;
        display: inline-block;
        margin: 1rem;
        padding: 1rem;
        width: 7rem;
        cursor: pointer;
        -webkit-appearance: none;
    }

    .breadbutter-buttons .bb-button:focus {
        outline: 0;
    }

    .breadbutter-buttons {
        color: #3c3c3c;
        font-family: var(--bb-font-family);
        font-size: 16px !important;
        padding: 4px 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        width: 100%;

        .bb-profile-image {
            position: absolute;
            width: 30px;
            height: 30px;
            background-size: contain;
            border-radius: 30px;
            top: 5px;
            left: 45px;
            display: inline-block;
        }
    }

    .breadbutter-buttons * {
        box-sizing: content-box;
        position: relative;
    }

    .breadbutter-buttons.bb-collapsed > div {
        display: none;
    }

    .breadbutter-buttons.suggested-list.bb-collapsed > div {
        display: block;
    }

    .breadbutter-buttons.bb-collapsed > div.first {
        display: block;
    }

    .breadbutter-buttons {
        .more {
            width: 28px;
            height: 40px;
            background-color: var(--bb-light-grey);
            line-height: 40px;
            border-radius: 4px;
            //padding: 0 10px;
            top: 0;
            z-index: 1;
            right: 0px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: var(--bb-dark-grey);
                transform: rotateZ(180deg);
            }

            //&:after {
            //    content: '▲';
            //    color: var(--bb-dark-grey);
            //    font-size: 15px;
            //}
        }

        &.bb-collapsed .more {
            background-color: var(--bb-dark-grey);

            svg {
                fill: #ffffff;
                transform: rotateZ(0deg);
            }

            //&:after {
            //    content: '▼';
            //    color: #fff;
            //    font-size: 15px;
            //}
        }
    }

    .breadbutter-buttons .more-block {
        position: absolute;
    }

    .breadbutter-buttons:not(.bb-local-only) .more-block {
        display: block !important;
    }

    .breadbutter-buttons.bb-local-only .more-block {
        display: none !important;
    }

    .breadbutter-buttons:not(.bb-icon) {
        margin: 0 auto;
    }

    .breadbutter-buttons > div {
        cursor: pointer;
    }

    .breadbutter-buttons.bb-icon {
        display: flex;
        flex-direction: row;
        background: none;
        padding: 0 23px;
        margin: 15px auto 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .breadbutter-buttons.error {
        background: #f7f7f7;
        display: block;
    }

    .breadbutter-buttons .footer {
        list-style: none;
        padding-inline-start: 0.5rem;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
    }

    .breadbutter-buttons .footer svg {
        height: 1rem;
        vertical-align: top;
        margin-right: 0.5rem;
    }

    .breadbutter-buttons .message {
        color: #ff4441;
    }

    /*
    .bb-google {
      border-radius: 1px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
      box-sizing: border-box;
      transition: background-color .218s, border-color .218s, box-shadow .218s;
      background-color: #fff;
      background-image: none;
      color: #262626;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      position: relative;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      width: auto;
    }
     */

    .breadbutter-buttons .enterprise:hover {
        //opacity: 0.65;
    }
    .bb-icon {
        svg {
            vertical-align: top;
        }
    }

    .breadbutter-buttons {
        .bb-item {
            border: none;
            border-radius: 2px;
            //box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .4);
        }

        &.bb-round {
            .bb-item {
                border-radius: 50%;
            }

            .custom-icon {
                border-radius: 50%;
            }
        }
    }

    .breadbutter-buttons:not(.bb-icon) {
        & > div {
            height: 40px;
            width: 100%;
            margin: 3px 0;

            > div {
                margin: 0 3px;
            }

            .bb-item {
                border: none;
                border-radius: 2px;
                //box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .4);
            }

            .bb-icon-wrapper {
                border: none;
                border-radius: 4px;
                //box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .4);
                height: 38px;
                text-align: center;

                .bb-icon {
                    margin: 7px 10px 7px 10px;
                    float: left;
                    width: 24px;
                    height: 24px;
                    position: absolute;

                    &.bb-icon-medium {
                        svg {
                            margin: 2px;
                            width: 20px;
                            height: 20px;
                        }
                    }

                    &.bb-icon-small {
                        svg {
                            margin: 3px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

                span {
                    font-family: var(--bb-font-family);
                    //font-weight: 500;
                    letter-spacing: 0.25px;
                    vertical-align: top;
                    font-size: 12px;
                    line-height: 40px;
                }
            }
        }

        & > div:not(.enterprise) {
            .bb-icon-wrapper {
                border-radius: 4px;
                height: 38px;
                text-align: center;

                background-color: var(--bb-sso-background-color);
                color: var(--bb-sso-color);
                border: 1px solid var(--bb-sso-border-color);

                span {
                    font-size: 12px;
                    //font-weight: 500;
                    letter-spacing: 0.25px;
                    line-height: 40px;
                    vertical-align: top;
                    margin-left: 2px;

                    //font-weight: 500;
                    //font-family: Roboto;
                    //font-family: Roboto, 'Arial' !important;
                    font-family: var(--bb-font-family);
                    font-weight: 600;
                    //font-size: 16px;
                }
            }

            .bb-microsoft {
                span {
                    //font-family: 'Selawik', 'Segoe UI', Arial !important;
                }

                .bb-icon-wrapper {
                    //background-color: #fff;
                    //color: #797a79;
                    //border: 1px solid var(--bb-light-grey);
                }

                .bb-icon {
                }
            }

            .bb-google {
                span {
                    //font-family: Roboto, 'Arial' !important;
                    //font-weight: 600;
                }

                /* background-color: #4285f4; */
                .bb-icon-wrapper {
                    //background-color: #fff;
                    //color: rgba(0, 0, 0, 0.54);
                    //border: 1px solid var(--bb-light-grey);
                }

                .bb-icon {
                    padding: 5px 8px 7px;
                    margin: 1px;
                }
            }

            .bb-facebook {
                span {
                    //font-family: 'SF UI Display', 'SF Pro Display', 'SF Pro Icons',
                    //'Arial' !important;
                    //font-weight: 400;
                    //margin-left: 0px;
                }

                .bb-icon-wrapper {
                    //background-color: #227aed;
                    //border: 1px solid #227aed;
                    //color: #fff;
                }

                .bb-icon {
                    path {
                        fill: rgb(34, 122, 237)!important;
                    }
                }
            }

            .bb-apple {
                span {
                    //font-family: 'SF UI Display', 'SF Pro Display', 'SF Pro Icons',
                    //'Arial' !important;
                    //font-weight: 600;
                }

                .bb-icon-wrapper {
                    //background-color: #000;
                    //border: 1px solid #000;
                    //color: #fff;
                }

                .bb-icon {
                    g {
                        fill: #000!important;
                    }
                }
            }

            .bb-linkedin {
                .bb-icon-wrapper {
                    //background-color: #fff;
                    //color: #797a79;
                    //border: 1px solid var(--bb-light-grey);
                }

                .bb-icon {
                    fill: #2f7ab1;
                }
            }

            .bb-github {
                .bb-icon-wrapper {
                    //background-color: #444;
                    //border: 1px solid #444;
                    //color: #fff;
                }

                .bb-icon {
                    //fill: #fff;
                }
            }

            .bb-basecamp {
                .bb-icon-wrapper {
                    //background-color: #1d2d35;
                    //border: 1px solid #1d2d35;
                    //color: #fff;
                }
                .bb-icon {
                    path.cls-2 {
                        stroke: rgb(29, 45, 53) !important;
                    }
                }
            }

            .bb-fitbit {
                .bb-icon-wrapper {
                    //background-color: #002a3a;
                    //color: #fff;
                    //border: 1px solid #002a3a;
                }

                .bb-icon {
                }
            }

            .bb-dropbox {
                .bb-icon-wrapper {
                    //background-color: #0061ff;
                    //border: 1px solid #0061ff;
                    //color: #fff;
                }

                .bb-icon {
                    path.st0_dropbox {
                        fill: rgb(0, 97, 255)!important;
                    }
                }
            }

            .bb-evernote {
                .bb-icon-wrapper {
                    //border: 1px solid #00a82d;
                    //background-color: #00a82d;
                    //color: #fff;
                }

                .bb-icon {
                }
            }

            .bb-shopify {
                .bb-icon-wrapper {
                    //border: 1px solid #95bf47;
                    //background-color: #95bf47;
                    //color: #fff;
                }

                .bb-icon {
                }
            }

            .bb-planningcenter {
                span {
                    margin-left: -6px;
                }

                .bb-icon-wrapper {
                    //background-color: #2266f7;
                    //border: 1px solid #2266f7;
                    //color: #fff;
                }

                .bb-icon {
                    path {
                        fill: rgb(34, 102, 247) !important;
                    }
                }
            }

            .bb-twitter {
                .bb-icon-wrapper {
                    //background-color: #3399ff;
                    //border: 1px solid #3399ff;
                    //color: #fff;
                }

                .bb-icon {
                    //fill: #fff;
                }
            }

            .bb-slack {
                .bb-icon-wrapper {
                    //background-color: #fff;
                    //color: #393a3f;
                    //border: 1px solid var(--bb-light-grey);

                    b {
                        //font-weight: 800;
                    }
                }

                .bb-icon {
                }
            }

            .bb-salesforce {
                .bb-icon-wrapper {
                    //background-color: #fff;
                    //color: #797a79;
                    //border: 1px solid var(--bb-light-grey);

                    b {
                        //font-weight: 800;
                    }
                }

                .bb-icon {
                }
            }

            .bb-quickbooks {
                span {
                    margin-left: -1px;
                }

                .bb-icon-wrapper {
                    //background-color: #2ca01c;
                    //border: 1px solid #2ca01c;
                    //color: #fff;
                }

                .bb-icon {
                    //fill: #fff;
                    fill: rgb(44, 160, 28);
                }
            }

            .bb-twitch {
                .bb-icon-wrapper {
                    //background-color: #9146ff;
                    //border: 1px solid #9146ff;
                    //color: #fff;
                }

                .bb-icon {
                    fill: #000;
                }
            }

            .bb-email {
                .bb-icon-wrapper {
                    //background-color: #9146ff;
                    //border: 1px solid #9146ff;
                    //color: #fff;
                }

                .bb-icon {
                    //fill: #000;
                    padding: 3px 0;
                    height: 18px;
                    svg {
                        vertical-align: top;
                    }
                }

            }

            .bb-local:not(.green) {
                .bb-icon-wrapper {
                    background-color: var(--bb-sso-background-color);
                    border: 1px solid var(--bb-sso-border-color);
                    color: var(--bb-sso-color);
                }

                .bb-icon {
                    background: #555555;
                    border-radius: 50%;
                    fill: #ffffff;

                    svg {
                        width: 12px;
                        height: 12px;
                        margin-top: 6px;
                        vertical-align: inherit;
                    }
                }
            }

            .bb-local.green {
                .bb-icon-wrapper {
                    background-color: var(--bb-signin-background-color);
                    border: 1px solid var(--bb-signin-border-color);
                    color: var(--bb-signin-color);

                    span {
                        font-weight: 600;
                        margin-left: 0;
                    }
                }

                .bb-icon {
                    margin: 7px 10px 7px 5px;
                    fill: var(--bb-signin-color);

                    svg {
                        height: 16.6px;
                        margin-top: 4px;
                    }
                }
            }
        }
    }

    .breadbutter-buttons:not(.bb-icon) {
        & > div:not(.enterprise):hover {
            .bb-microsoft {
                .bb-icon-wrapper {
                    background-color: var(--bb-microsoft-hover-background-color);
                    border: 1px solid var(--bb-microsoft-hover-border-color);
                    color: #797a79;
                }
            }

            .bb-google {
                .bb-icon-wrapper {
                    background-color: var(--bb-google-hover-background-color);
                    border: 1px solid var(--bb-google-hover-border-color);
                    color: #fff;
                }

                .bb-icon {
                    background: #fff;
                    border-radius: 2px;
                    height: 24px;
                    width: 24px;
                    margin: 1px;
                    padding: 5px 8px 7px;
                    float: left;
                }
            }

            .bb-facebook {
                .bb-icon-wrapper {
                    background-color: var(--bb-facebook-hover-background-color);
                    border: 1px solid var(--bb-facebook-hover-border-color);
                    color: #fff;
                }
                .bb-icon {
                    path {
                        fill: #fff!important;
                    }
                }
            }

            .bb-linkedin {
                .bb-icon-wrapper {
                    background-color: var(--bb-linkedin-hover-background-color);
                    border: 1px solid var(--bb-linkedin-hover-border-color);
                    color: #ffffff;
                }

                .bb-icon {
                    fill: #fff;
                }
            }


            .bb-github {
                .bb-icon-wrapper {
                    background-color: var(--bb-github-hover-background-color);
                    border: 1px solid var(--bb-github-hover-border-color);
                    color: #fff;
                }

                .bb-icon {
                    fill: #fff;
                }
            }

            .bb-basecamp {
                .bb-icon-wrapper {
                    background-color: var(--bb-basecamp-hover-background-color);
                    border: 1px solid var(--bb-basecamp-hover-border-color);
                    color: #fff;
                }
                .bb-icon {
                    path.cls-2 {
                        stroke: #fff !important;
                    }
                }
            }

            .bb-fitbit {
                .bb-icon-wrapper {
                    background-color: var(--bb-fitbit-hover-background-color);
                    border: 1px solid var(--bb-fitbit-hover-border-color);
                }
            }

            .bb-dropbox {
                .bb-icon-wrapper {
                    background-color: var(--bb-dropbox-hover-background-color);
                    border: 1px solid var(--bb-dropbox-hover-border-color);
                    color: #fff;
                }
                .bb-icon {
                    path.st0_dropbox {
                        fill: #fff!important;
                    }
                }
            }

            .bb-evernote {
                .bb-icon-wrapper {
                    background-color: var(--bb-evernote-hover-background-color);
                    border: 1px solid var(--bb-evernote-hover-border-color);
                }
            }

            .bb-shopify {
                .bb-icon-wrapper {
                    background-color: var(--bb-shopify-hover-background-color);
                    border: 1px solid var(--bb-shopify-hover-border-color);
                }
            }

            .bb-planningcenter {
                .bb-icon-wrapper {
                    background-color: var(--bb-planningcenter-hover-background-color);
                    border: 1px solid var(--bb-planningcenter-hover-border-color);
                    color: #fff;
                }

                .bb-icon {
                    path {
                        fill: #fff !important;
                    }
                }
            }

            .bb-twitter {
                .bb-icon-wrapper {
                    background-color: var(--bb-twitter-hover-background-color);
                    border: 1px solid var(--bb-twitter-hover-border-color);
                }
            }

            .bb-slack {
                .bb-icon-wrapper {
                    background-color: var(--bb-slack-hover-background-color);
                    border: 1px solid var(--bb-slack-hover-border-color);
                    color: #393a3f;
                }
            }

            .bb-salesforce {
                .bb-icon-wrapper {
                    background-color: var(--bb-salesforce-hover-background-color);
                    border: 1px solid var(--bb-salesforce-hover-border-color);
                    color: #797a79;
                }
            }

            .bb-quickbooks {
                .bb-icon-wrapper {
                    background-color: var(--bb-quickbooks-hover-background-color);
                    border: 1px solid var(--bb-quickbooks-hover-border-color);
                    color: #fff;
                }

                .bb-icon {
                    fill: #fff;
                    //fill: rgb(44, 160, 28);
                }
            }

            .bb-twitch {
                .bb-icon-wrapper {
                    background-color: var(--bb-twitch-hover-background-color);
                    border: 1px solid var(--bb-twitch-hover-border-color);
                    color: #fff;
                }
            }

            .bb-apple {
                .bb-icon-wrapper {
                    background-color: var(--bb-apple-hover-background-color);
                    border: 1px solid var(--bb-apple-hover-border-color);
                    color: #fff;
                }
                .bb-icon {
                    g {
                        fill: #fff!important;
                    }
                }
            }

            .bb-local {
                .bb-icon-wrapper {
                    background-color: var(--bb-local-hover-background-color);
                    border: 1px solid var(--bb-local-hover-border-color);
                    color: #797a79;
                }
            }

            .bb-email {
                .bb-icon-wrapper {
                    background-color: var(--bb-email-hover-background-color);
                    border: 1px solid var(--bb-email-hover-border-color);
                    color: #797a79;
                }
            }

            .bb-local.green {
                .bb-icon-wrapper {
                    background-color: var(--bb-local-green-hover-background-color);
                    border: 1px solid var(--bb-local-green-hover-border-color);
                    color: #fff;
                }
            }
        }
    }

    .breadbutter-buttons.bb-icon {
        > div:not(.enterprise) {
            .bb-item {
                flex: 1;
                padding: 0;
                //margin: 0 0.25em 0.25em 0;
                height: 40px;
                width: 40px;

                svg {
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    margin: 8px;
                    top: 0;
                    left: 0;
                }

                &[data-name='microsoft'] {
                    background-color: var(--bb-microsoft-background-color);
                    border: 1px solid var(--bb-microsoft-border-color);

                    svg {
                    }
                }

                &[data-name='linkedin'] {
                    background-color: var(--bb-linkedin-background-color);
                    border: 1px solid var(--bb-linkedin-border-color);

                    svg {
                        fill: #2f7ab1;
                    }
                }

                &[data-name='google'] {
                    background-color: var(--bb-google-background-color);
                    border: 1px solid var(--bb-google-border-color);

                    svg {
                        height: 20px;
                        width: 20px;
                        margin: 10px;
                    }
                }

                &[data-name='github'] {
                    background-color: var(--bb-github-background-color);
                    border: 1px solid var(--bb-github-border-color);

                    svg {
                        fill: #fff;
                    }
                }

                &[data-name='basecamp'] {
                    background-color: var(--bb-basecamp-background-color);
                    border: 1px solid var(--bb-basecamp-border-color);

                    svg {
                        fill: #fff;
                    }
                }

                &[data-name='fitbit'] {
                    background-color: var(--bb-fitbit-background-color);
                    border: 1px solid var(--bb-fitbit-border-color);

                    svg {
                    }
                }

                &[data-name='facebook'] {
                    background-color: var(--bb-facebook-background-color);
                    border: 1px solid var(--bb-facebook-border-color);

                    svg {
                    }
                }

                &[data-name='dropbox'] {
                    background-color: var(--bb-dropbox-background-color);
                    border: 1px solid var(--bb-dropbox-border-color);

                    svg {
                    }
                }

                &[data-name='evernote'] {
                    background-color: var(--bb-evernote-background-color);
                    border: 1px solid var(--bb-evernote-border-color);

                    svg {
                    }
                }

                &[data-name='shopify'] {
                    background-color: var(--bb-shopify-background-color);
                    border: 1px solid var(--bb-shopify-border-color);

                    svg {
                    }
                }

                &[data-name='planningcenter'] {
                    background-color: var(--bb-planningcenter-background-color);
                    border: 1px solid var(--bb-planningcenter-border-color);

                    svg {
                    }
                }

                &[data-name='twitter'] {
                    background-color: var(--bb-twitter-background-color);
                    border: 1px solid var(--bb-twitter-border-color);

                    svg {
                        fill: #fff;
                    }
                }

                &[data-name='quickbooks'] {
                    background-color: var(--bb-quickbooks-background-color);
                    border: 1px solid var(--bb-quickbooks-border-color);

                    svg {
                        fill: #fff;
                    }
                }

                &[data-name='slack'] {
                    background-color: var(--bb-slack-background-color);
                    border: 1px solid var(--bb-slack-border-color);
                }

                &[data-name='salesforce'] {
                    background-color: var(--bb-salesforce-background-color);
                    border: 1px solid var(--bb-salesforce-border-color);
                }

                &[data-name='apple'] {
                    background-color: var(--bb-apple-background-color);
                    border: 1px solid var(--bb-apple-border-color);
                }

                &[data-name='twitch'] {
                    background-color: var(--bb-twitch-background-color);
                    border: 1px solid var(--bb-twitch-border-color);
                }

                &[data-name='local'] {
                    background-color: var(--bb-local-background-color);
                    border: 1px solid var(--bb-local-border-color);
                }
            }
        }
    }

    .breadbutter-buttons.bb-icon {
        & > div:not(.enterprise):hover {
            .bb-item {
                &[data-name='microsoft'] {
                    background-color: var(--bb-microsoft-hover-background-color);
                    border: 1px solid var(--bb-microsoft-hover-border-color);
                }

                &[data-name='linkedin'] {
                    background-color: var(--bb-linkedin-hover-background-color);
                    border: 1px solid var(--bb-linkedin-hover-border-color);

                    svg {
                        fill: #fff;
                    }
                }

                &[data-name='google'] {
                    background-color: var(--bb-google-hover-background-color);
                    border: 1px solid var(--bb-google-hover-border-color);

                    svg {
                        background: #fff;
                        margin: 2px;
                        padding: 8px;
                    }
                }

                &[data-name='github'] {
                    background-color: var(--bb-github-hover-background-color);
                    border: 1px solid var(--bb-github-hover-border-color);
                }

                &[data-name='basecamp'] {
                    background-color: var(--bb-basecamp-hover-background-color);
                    border: 1px solid var(--bb-basecamp-hover-border-color);
                }

                &[data-name='fitbit'] {
                    background-color: var(--bb-fitbit-hover-background-color);
                    border: 1px solid var(--bb-fitbit-hover-border-color);
                }

                &[data-name='facebook'] {
                    background-color: var(--bb-facebook-hover-background-color);
                    border: 1px solid var(--bb-facebook-hover-border-color);
                }

                &[data-name='dropbox'] {
                    background-color: var(--bb-dropbox-hover-background-color);
                    border: 1px solid var(--bb-dropbox-hover-border-color);
                }

                &[data-name='evernote'] {
                    background-color: var(--bb-evernote-hover-background-color);
                    border: 1px solid var(--bb-evernote-hover-border-color);
                }

                &[data-name='shopify'] {
                    background-color: var(--bb-shopify-hover-background-color);
                    border: 1px solid var(--bb-shopify-hover-border-color);
                }

                &[data-name='planningcenter'] {
                    background-color: var(--bb-planningcenter-hover-background-color);
                    border: 1px solid   var(--bb-planningcenter-hover-border-color);
                }

                &[data-name='twitter'] {
                    background-color: var(--bb-twitter-hover-background-color);
                    border: 1px solid var(--bb-twitter-hover-border-color);
                }

                &[data-name='slack'] {
                    background-color: var(--bb-slack-hover-background-color);
                    border: 1px solid var(--bb-slack-hover-border-color);
                }

                &[data-name='salesforce'] {
                    background-color: var(--bb-salesforce-hover-background-color);
                    border: 1px solid var(--bb-salesforce-hover-border-color);
                }

                &[data-name='quickbooks'] {
                    background-color: var(--bb-quickbooks-hover-background-color);
                    border: 1px solid var(--bb-quickbooks-hover-border-color);
                }

                &[data-name='twitch'] {
                    background-color: var(--bb-twitch-hover-background-color);
                    border: 1px solid var(--bb-twitch-hover-border-color);
                }

                &[data-name='apple'] {
                    background-color: var(--bb-apple-hover-background-color);
                    border: 1px solid var(--bb-apple-hover-border-color);
                }

                &[data-name='local'] {
                    background-color: var(--bb-local-hover-background-color);
                    border: 1px solid var(--bb-local-hover-border-color);
                }
            }
        }
    }

    .breadbutter-buttons {
        &:not(.bb-icon) {
            .enterprise {
                .custom-button {
                    height: 40px;
                    padding: 0;
                    margin: 0;
                    background-position: center;
                    background-size: 100% 100%;
                    background-color: transparent;
                }

                > div {
                    .bb-icon-wrapper {
                        .icon-holder {
                            border-radius: 0;
                            //margin: 7px 8px 9px 8px;
                            margin: 7px 10px 7px 10px;
                            width: 18px;
                            height: 18px;
                            padding: 3px;
                            position: absolute;
                            left: 0px;

                            .bb-icon {
                                margin: 0;
                                width: 18px;
                                height: 18px;
                                //margin: 7px 10px 7px 10px;
                                //float: left;
                                //width: 24px;
                                //height: 24px;
                                //position: absolute;
                            }

                            svg {
                                width: 18px;
                                height: 18px;
                            }

                            .custom-icon {
                                width: 18px;
                                height: 18px;
                                background-position: center;
                                background-size: 100% 100%;
                                background-color: transparent;
                            }
                        }

                        span {
                            //width: 150px;
                            height: 40px;
                            overflow: hidden;
                            display: block;
                            line-height: 40px;
                            white-space: nowrap;
                            overflow: hidden;
                            padding: 0 5px;
                            text-overflow: ellipsis;

                            font-weight: 600;
                            //font-family: Roboto, Arial !important;
                            font-family: var(--bb-font-family);
                        }
                        background-color: #fff;
                        color: #333;
                    }

                    &.bb-okta {
                        .bb-icon-wrapper {
                            //color: #007dc1;
                            //background-color: #fff;
                            border: 1px solid var(--bb-okta-border-color);

                            svg {
                                fill: #007dc1;
                            }
                        }
                    }

                    &.bb-onelogin {
                        .bb-icon-wrapper {
                            //background-color: #1c1f2a;
                            //color: #fff;
                            border: 1px solid var(--bb-onelogin-border-color);
                            svg {
                                g {
                                    g {
                                        path:first-child {
                                            fill: #1C1F2A;
                                        }
                                        path:last-child {
                                            fill: #ffffff;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.bb-microsoft {
                        .bb-icon-wrapper {
                            //color: #8c8c8c;
                            //background-color: #fff;
                            border: 1px solid var(--bb-microsoft-border-color);

                            span {
                                //font-family: 'Selawik', 'Segoe UI', Arial !important;
                            }
                        }
                    }

                    &.bb-google {
                        .bb-icon-wrapper {
                            //background-color: #fff;
                            //color: #8c8c8c;
                            border: 1px solid var(--bb-google-border-color);

                            span {
                                //font-weight: 600;
                                //font-family: Roboto, Arial !important;
                            }
                        }
                    }

                    &:hover {
                        &.bb-microsoft {
                            .bb-icon-wrapper {
                                background-color: var(--bb-microsoft-hover-background-color);
                                border: 1px solid var(--bb-microsoft-hover-border-color);
                                color: #797a79;
                            }
                        }

                        &.bb-google {
                            .bb-icon-wrapper {
                                background-color: var(--bb-google-hover-background-color);
                                //border: 1px solid #3e82f1;
                                color: #fff;
                            }

                            .icon-holder {
                                background: #fff;
                                margin: 2px;
                                border-radius: 2px;
                                padding: 8px 10px 8px 11px;
                            }
                        }

                        &.bb-onelogin {
                            .bb-icon-wrapper {
                                background-color: var(--bb-onelogin-hover-background-color);
                                color: #fff;
                                svg {
                                    g {
                                        g {
                                            path:first-child {
                                                fill: #ffffff;
                                            }
                                            path:last-child {
                                                fill: #1C1F2A;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.bb-okta {
                            .bb-icon-wrapper {
                                background-color: var(--bb-okta-hover-background-color);
                                color: #fff;
                                .bb-icon {
                                    svg {
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.bb-icon {
            > div {
                margin: 0 9px 16px 9px;
            }

            .enterprise {
                display: flex;

                .custom-icon {
                    height: 40px;
                    width: 40px;
                    padding: 0;
                    background-position: center;
                    background-size: 100% 100%;
                    background-color: transparent;
                    border: 1px solid var(--bb-light-grey);
                }

                .bb-item {
                    flex: 1;
                    padding: 0;
                    height: 40px;
                    width: 40px;
                    border: 1px solid var(--bb-light-grey);

                    svg {
                        fill: transparent;
                        height: 30px;
                        width: 30px;
                        vertical-align: top;
                        margin: 10px;
                    }

                    span {
                        width: 40px;
                        font-weight: 400;
                        line-height: 42px;
                        vertical-align: top;
                        display: inline-block;
                        text-align: center;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    &[data-name='okta'] {
                        background-color: var(--bb-okta-enterprise-background-color);
                        border: 1px solid var(--bb-okta-enterprise-border-color);
                        color: var(--bb-microsoft-enterprise-color);
                    }

                    &[data-name='onelogin'] {
                        background-color: var(--bb-onelogin-enterprise-background-color);
                        border: 1px solid var(--bb-onelogin-enterprise-border-color);
                        color: var(--bb-onelogin-enterprise-color);
                    }

                    &[data-name='google'] {
                        background-color: var(--bb-google-enterprise-background-color);
                        border: 1px solid var(--bb-google-enterprise-border-color);
                        color: var(--bb-google-enterprise-color);
                    }

                    &[data-name='microsoft'] {
                        background-color: var(--bb-microsoft-enterprise-background-color);
                        border: 1px solid var(--bb-microsoft-enterprise-border-color);
                        color: var(--bb-microsoft-enterprise-color);
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }

    .bb-apple :not(.enterprise) .bb-apple,
    .bb-basecamp :not(.enterprise) .bb-basecamp,
    .bb-dropbox :not(.enterprise) .bb-dropbox,
    .bb-facebook :not(.enterprise) .bb-facebook,
    .bb-fitbit :not(.enterprise) .bb-fitbit,
    .bb-github :not(.enterprise) .bb-github,
    .bb-linkedin :not(.enterprise) .bb-linkedin,
    .bb-okta :not(.enterprise) .bb-okta,
    .bb-onelogin :not(.enterprise) .bb-onelogin,
    .bb-planningcenter :not(.enterprise) .bb-planningcenter,
    .bb-quickbooks :not(.enterprise) .bb-quickbooks,
    .bb-slack :not(.enterprise) .bb-slack,
    .bb-twitch :not(.enterprise) .bb-twitch,
    .bb-twitter :not(.enterprise) .bb-twitter,
    .bb-keycloak :not(.enterprise) .bb-keycloak,
    .bb-salesforce :not(.enterprise) .bb-salesforce,
    .bb-local :not(.enterprise) .bb-local,
    .bb-microsoft :not(.enterprise) .bb-microsoft,
    .bb-google :not(.enterprise) .bb-google {
        &::before {
            content: ' ';
            border-radius: 1rem;
            background-color: #777;
            display: block;
            position: absolute;
            top: 14px;
            left: -20px;
            width: 15px;
            height: 15px;
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3) inset;
        }
    }

    .bb-apple [name='apple']:not(.enterprise),
    .bb-basecamp [name='basecamp']:not(.enterprise),
    .bb-dropbox [name='dropbox']:not(.enterprise),
    .bb-facebook [name='facebook']:not(.enterprise),
    .bb-fitbit [name='fitbit']:not(.enterprise),
    .bb-github [name='github']:not(.enterprise),
    .bb-linkedin [name='linkedin']:not(.enterprise),
    .bb-okta [name='okta']:not(.enterprise),
    .bb-onelogin [name='onelogin']:not(.enterprise),
    .bb-planningcenter [name='planningcenter']:not(.enterprise),
    .bb-quickbooks [name='quickbooks']:not(.enterprise),
    .bb-slack [name='slack']:not(.enterprise),
    .bb-twitch [name='twitch']:not(.enterprise),
    .bb-twitter [name='twitter']:not(.enterprise),
    .bb-keycloak [name='keycloak']:not(.enterprise),
    .bb-salesforce [name='salesforce']:not(.enterprise),
    .bb-local [name='local']:not(.enterprise),
    .bb-microsoft [name='microsoft']:not(.enterprise),
    .bb-google [name='google']:not(.enterprise) {
        display: none;
    }

    .breadbutter-buttons.bb-round.bb-icon > div:not(.enterprise):hover .bb-item[data-name='google'] svg {
        border-radius: 50%;
    }
}

.breadbutter-popup.bb-mobile-device {
    .breadbutter-ui  {
        .breadbutter-buttons.bb-icon {
            margin: 10px auto 0;
        }
    }
}
.bb-icon-line-break {
    flex-basis: 100%;
    width: 0;
    margin: 0 !important;
    padding: 0 !important;
}